.fancy-font
{
    font-family: 'Bree Serif', serif;
}

.jumbotron {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}


.container-fluid h1{
  font-size: 60px;  
  font-weight: bold;

}

.container-fluid p
{
  font-size: 20px;  
}


.container-fluid h3
{
    font-weight: bold;
}

.rocket 
{
 font-size:150px;
}

.row
{
  padding-bottom: 20px;
}

.row a
{
  color: #00A3CC;
  font-size: 20px;
}

.row h1
{
    padding-bottom: 10px;
}

.btn
{
    color: white !important;
}


a
{
   text-decoration: none !important;
}


#nav-bar a {
  color: #5a5a5a;
  font-size: 20px;
  padding-right: 30px;
}

#nav-bar li {
  display: inline;
}


#me {
    background:  #FFA366;
}

#projects {
    background-color:#99D6AD;
}

#gallery {
    background-color:#94B84D;
}

#contact {
    background-color:  #1F0F00;
    color: #FFF;
}


#trailer{
    background-color:  #352719;
    color: #D2CFCC;
    font-size: 10px;
    padding-top: 20px;
    padding-right: 30px;
}