

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:10px;
  left:600px;
}

.jumbotron h1 {
  color: #FF8533;
  font-size: 100px;  
  font-family: 'Bree Serif', serif;
  font-weight: bold;
}

.container-fluid h1{
  font-size: 60px;  
  font-family: 'Bree Serif', serif;
  font-weight: bold;

}

.container-fluid p{
  font-size: 16px;  
  font-family: 'Bree Serif', serif;


}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.container-fluid h3
{
font-family: 'Bree Serif', serif;
}

.center {
	position: relative;
	margin: 0 auto;
	width: 30%;
	min-width: 550px;
	padding-bottom: 20px;

}



.nav a {
  color: #5a5a5a;
  font-size: 20px;
  padding: 14px 10px;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
}

.nav li {
  display: inline;

}



#me {
	background: #FF8533;
}

#projects {
	background-color:#99D6AD;
}

#gallery {
	background-color:#94B84D;
}

#contact {
	background-color: #4C4C33;
	color: #FFF;
}



.trailer{

	background-color: #4C4C33;
	color: #7A7A52;
	font-size: 10px;


}